{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<a href="{% url 'add' %}" class="btn btn-outline-success">Add ToDo</a>
<br>
<br>
{% if todos %}
<ol class="list-group list-group-flush">
    {% for todo in todos %}
    <li class="list-group-item">{{ todo.title }} | {{ todo.date | naturaltime }}
        <br>
        <a href="{% url 'edit' todo.pk %}" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'delete' todo.pk %}" class="btn btn-outline-danger">Delete</a>
        <p>{{ todo.description }}</p>
    </li>
    {% endfor %}
</ol>
{% else %}
<h4 class="display-4 is-muted">No ToDos</h4>
{% endif %}

{% endblock content %}